@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*, *::before, *::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0d9cd;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #82768C;
}

/* .header {
  background-image: url("/img/nyc-bk-satellite.jpg");
  background-color: #293F32;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -70px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
} */

/* .header {
  background-image: url("/img/sbk014-transparent.png");
  background-repeat: no-repeat;
  background-size: 2500px;
  background-position: center -1150px;
} */

.header {
  background-image: url("/img/sbk014-black.png");
  background-repeat: no-repeat;
  background-size: 2500px;
  background-position: 20% -260px;
}

section {
  padding: 1em;
  width: 55vw;
  margin: 0 auto;
}

.wide {
  padding: 0 100px;
}

.header--title {
  font-size: 2.5em;
  padding-top: 350px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'sans-serif';
  text-transform: uppercase;
}

.header--subhead {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 25px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'sans-serif';
  font-weight: normal;
}

h4.subhead {
  font-family: "Roboto Condensed";
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 0;
}

h5.subsubhead {
  font-family: "Roboto Condensed";
  font-size: 22px;
  padding: 25px 0;
}

p:not(:last-child) {
  padding-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.footer--links {
  justify-content: 'flex-end';
  background-color: #293F32;
  padding: 1.5em;
  font-size: 1em;
  font-family: 'Roboto Condensed', 'sans-serif';
}

.footer--links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*
@media only screen and (max-width: 600px)
  body {
    font-size: 
}
*/

/* stacked bars */
.x-axis, .y-axis {
  color: #2E2624;
  font-size: 0.8em;
}

.x-axis > path.domain {
  color:#2E2624;
  stroke-width: 1;
}

.x-axis .tick text {
  font-size: 1.1em;
}

/* axis title */
.x-axis > text, .y-axis > text {
  fill: #686868;
  font-size: 0.9em;
}

.y-axis > path.domain {
  opacity: 0;
}

.y-axis .tick line {
  opacity: 0;
}

.x-axis .tick line {
  opacity: 0;
}

.y-gridlines {
  color: #C8C8C8;
  stroke-width: 0.75;
}

.chart--title {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', 'sans-serif';
}

.vis-caption {
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.2em;
  padding-top: 25%;
}

.vis-caption-small {
  font-size: 13px;
  font-family: 'Roboto Condensed', 'sans-serif';
  line-height: 1.2em;
  color: #686868;
}

/* scrollytelling */

.container {
  display: flex;
}

.steps {
  width: 35%;
}

.step {
  margin-top: 500px;
  min-height: 100px;
}

#chart {
  margin-right: 5px;
  position: sticky;
  top: 25px;
  left: 0px;
  width: 800px;
  height: 750px;
}

/* shiny dashboards */
.flex-container-shiny {
  display: flex;
  border: 1px dotted #529c72;
  padding: 1.25em;
}

.flex-container-bubble {
  display: flex;
  padding: 1.25em;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 50px;
} 

.button {
  border: none;
  background-color: #146356;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 0.75em;
}

a.button--link {
  font-family: 'Roboto Condensed', 'sans-serif';
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: regular;
  color: white !important;
}

/* bubbles */
.text--bubbles {
  text-anchor: middle;
  font-size: 12px;
  fill: #ffffff;
  font-family: 'Roboto Condensed', 'sans-serif';
  pointer-events: none;
  opacity: 0;
}

.tooltip-text {
  display: inline-block;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', 'sans-serif';
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #2E2624;
  color: #ffffff;
  display: flex;
  max-width: 200px;
  opacity: 0.95;
}

.tooltip div {
  padding: 10px;
}