a, a:hover, a:visited {
    color: #0071bc;
  }

  .mapboxgl-map { 
    top: 0; 
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    z-index: -5;
  }

  #header {
    /*margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;*/
    padding-right: 40vh;
    padding-bottom: 10vh;
    z-index: 100;
  }
  #footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    /* padding-bottom: 2vh; */
    text-align: center;
    line-height: 25px;
    font-size: 13px;
  }
  #features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
  }
  .centered {
    width: 50vw;
    margin: 0 auto;
  }
  .lefty {
    width: 33vw;
    margin-left: 5vw;
  }
  .righty {
    width: 33vw;
    margin-left: 62vw;
  }
  .light {
    color: #fff;
    background-color: #222;
    font-family: "Roboto";
  }
  .dark {
    color: #fafafa;
    background-color: #444;
    font-family: "Roboto";
  }
  .step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh;  */
    opacity: 0.25;
  }
  .step.active {
    opacity: 0.9;
  }
  
  .step div {
    padding:  20px 25px;
    line-height: 22px;
    font-size: 14px;
    box-shadow: #222222 0px 3px 5px;
  }
  
  .step img {
    width: 100%;
  }

  .title {
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  @media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
  }